* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
img {
    object-fit: cover;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
button {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.button {
    background-color: #77129b;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    box-shadow: 5px 5px 8px 1px #00000074;
}
.button:hover {
    box-shadow: 5px 5px 15px 1px #000000b6;
    transition: 0.3s;
}
/* HEADER HOME ********************************************************
***********************************************************************/
.header-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9500CA;
    height: 40px;
    color: white;
}
.header-home h1 {
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin-left: 20px;
}
.header-home div {
    display: flex;
    height: 100%;
}
.header-home button {
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 15px;
}
.header-home .signup-btn {
    background-color: #D7FFDB;
}
.header-home .login-btn {
    background-color: #EEECEC;
}
.header-home .signup-btn:hover {
    background-color: #b2fbba;
    transition: 0.3s;
}
.header-home .login-btn:hover {
    background-color: #d4d4d4;
    transition: 0.3s;
}
/* PRESENTATION ********************************************************
***********************************************************************/
.presentation-container {
    background: url(../assets/presentation6.jpg) fixed no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100Vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentation-container p {
    line-height: 30px;
    background-color: #000000c8;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
    line-height: 60px;
    padding: 100px;
}
.presentation-text {
    padding: 30px 10%; 
    text-align: center;
    line-height: 30px;
}
.slogan {
    background: url(../assets/presentation5.jpg) fixed no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan p {
    background-color: #000000c8;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    width: 100%;
    height: 100%;
}
.avantages-presentation {
    display: flex;
}
.row-reverse {
    flex-direction: row-reverse;
}
.avantages-presentation img {
    width: 50%;
    height: 350px;
}
.avantages-presentation article {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    text-align: center;
}
.avantages-presentation article h2 {
    margin-bottom: 20px;
}
.avantages-presentation article p {
    width: 70%;
}
/* UTILS ********************************************************
***********************************************************************/
.utils {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEECEC;
}
.utils-container {
    width: 30%;
    margin: 60px 20px;
    height: 370px;
    background-color: white;
    padding: 20px;
    text-align: center;
}
.utils-container img {
    width: 70px;
}
.utils-container div {
    margin: 20px;
}
.utils-container h3 {
    font-weight: bold;
    margin-bottom: 20px;
}
.utils-container p {
    line-height: 25px;
}
/* FOOTER ********************************************************
***********************************************************************/
footer {
    background-color: #9500CA;
    color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
}
footer ul {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0;
}
footer ul li {
    text-align: left;
    cursor: pointer;
    line-height: 25px;
    font-size: 15px;
}
footer span {
    position: absolute;
    bottom: 10px;
    font-size: 13px;
}
footer .social {
    flex-direction: row;
}
footer .social li {
    margin: 0 20px;
}
footer button {
    background-color: #9500CA;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}
/* HEADER SIGNUP ********************************************************
***********************************************************************/
.header-signup {
    background-color: #9500CA;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.header-signup h1 {
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}
.header-signup a {
    color: white;
}

.main-signup {
    background: linear-gradient(180deg, #D7FFDB 0%, #9500CA 73.96%, #D7FFDB 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FORM SIGNUP ********************************************************
***********************************************************************/
.main-signup .form-inscription {
    display: flex;
    align-items: center;
}
.form1 {
    background-color: #9500CA;
    width: 400px;
    border-radius: 20px;
    color: white;
    margin: 50px 0;
    padding: 40px;
    box-shadow: 15px 15px 15px #00000077;
    position: relative;
}
.input-container div {
    margin-top: 30px;
    margin-bottom: 5px;
}
.input-container input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px white solid;
    padding-left: 40px;
    padding-bottom: 5px;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.input-container input::placeholder {
    color: white;
}
.input-container {
    position: relative;
    margin: 20px 0;
    margin-top: 50px;
}
.input-container i {
    position: absolute;
    left: 10px;
    font-size: 15px;
}
.checkbox-form {
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-input {
    margin: 20px;
    margin-left: 0;
    background-color: #DF9DF5;
    color: black;
}
.main-signup form .login-link , .home-link , .login-link2 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 13px;
}
.home-link {
    margin-top: 20px;
    display: none;
}
.main-signup form .login-link:hover , .home-link:hover , .mdp-forget:hover, .login-link2:hover {
    text-decoration: underline;
}
.head-icon-form , .head-icon-form2 {
    position: absolute;
    background-color: #77129b;
    top: -40px;
    left: 50%;
    transform: translateX(-50%); 
    border-radius: 50%;
}
.head-icon-form2 {
    top: 50px;
}
.head-icon-form i , .head-icon-form2 i {
    font-size: 50px;
    padding: 20px;
}
.main-signup span {
    color: red;
    display: none;
}
.form-informations {
    background-color: #AD6EC3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    color: white;
    width: 400px;
    height: 100%;
    font-size: 14px;
    box-shadow: 15px 15px 15px #00000077;
}
.form-informations textarea {
    height: 60px;
    background-color: #DF9DF5;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
}
.thanks {
    text-align: center;
    display: none;
}
.question1 {
    margin-bottom: 20px;
}
.form-details {
    font-size: 12px;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 30px;
}
.mdp-forget {
    color: white;
    cursor: pointer;
}
.submit-input-login {
    margin: 20px 0;
    margin-bottom: 30px;
}
.login-link2 {
    margin-bottom: 10px;
}
.error-existing {
    color: red;
    display: none;
    text-align: center;
    margin-bottom: 20px;
}

.modal-reset-password {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #df9df5c6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
}
.modal-reset-password div {
    background-color: white;
    width: 40%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.modal-reset-password p {
    margin: 20px;
    line-height: 25px;
}
.modal-reset-password input {
    border-radius: 20px;
    height: 40px;
    padding: 0 20px;
    border: none;
    box-shadow: inset 0px 4px 4px 4px rgba(0, 0, 0, 0.207);
    margin: 20px;
    width: 70%;
    outline: none;
}
.modal-reset-password button {
    width: 50%;
    margin: 20px;
}
.modal-reset-password .reset-msg {
    position: relative;
    display: none;
}
.modal-reset-password i {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.login-error {
    text-align: center;
    margin-bottom: 20px;
}
/* DASHBOARD ********************************************************
***********************************************************************/
.header-dashboard {
    background-color: #9500CA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-bottom: solid 1px red;
    height: 70px;
}
.header-dashboard h1 {
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin-left: 20px;
}
.nav-dash {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-dash div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    font-size: 10px;
    cursor: pointer;
}
.header-dashboard img {
    width: 30px;
    margin-bottom: 5px;
}
.log-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    font-size: 10px;
}