* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
img {
    object-fit: cover;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
button {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.button {
    background-color: #77129b;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    box-shadow: 5px 5px 8px 1px #00000074;
}
.button:hover {
    box-shadow: 5px 5px 15px 1px #000000b6;
    transition: 0.3s;
}
/* HEADER HOME ********************************************************
***********************************************************************/
.header-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9500CA;
    height: 40px;
    color: white;
}
.header-home h1 {
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin-left: 20px;
}
.header-home div {
    display: flex;
    height: 100%;
}
.header-home button {
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 15px;
}
.header-home .signup-btn {
    background-color: #D7FFDB;
}
.header-home .login-btn {
    background-color: #EEECEC;
}
.header-home .signup-btn:hover {
    background-color: #b2fbba;
    transition: 0.3s;
}
.header-home .login-btn:hover {
    background-color: #d4d4d4;
    transition: 0.3s;
}
/* PRESENTATION ********************************************************
***********************************************************************/
.presentation-container {
    background: url(../assets/presentation6.jpg) fixed no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100Vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentation-container p {
    line-height: 30px;
    background-color: #000000c8;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
    line-height: 60px;
    padding: 100px;
}
.presentation-text {
    padding: 30px 10%; 
    text-align: center;
    line-height: 30px;
}
.slogan {
    background: url(../assets/presentation5.jpg) fixed no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan p {
    background-color: #000000c8;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    width: 100%;
    height: 100%;
}
.avantages-presentation {
    display: flex;
}
.row-reverse {
    flex-direction: row-reverse;
}
.avantages-presentation img {
    width: 50%;
    height: 350px;
}
.avantages-presentation article {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    text-align: center;
}
.avantages-presentation article h2 {
    margin-bottom: 20px;
}
.avantages-presentation article p {
    width: 70%;
}
/* UTILS ********************************************************
***********************************************************************/
.utils {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEECEC;
}
.utils-container {
    width: 30%;
    margin: 60px 20px;
    height: 370px;
    background-color: white;
    padding: 20px;
    text-align: center;
}
.utils-container img {
    width: 70px;
}
.utils-container div {
    margin: 20px;
}
.utils-container h3 {
    font-weight: bold;
    margin-bottom: 20px;
}
.utils-container p {
    line-height: 25px;
}
/* FOOTER ********************************************************
***********************************************************************/
footer {
    background-color: #9500CA;
    color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
}
footer ul {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0;
}
footer ul li {
    text-align: left;
    cursor: pointer;
    line-height: 25px;
    font-size: 15px;
}
footer span {
    position: absolute;
    bottom: 10px;
    font-size: 13px;
}
footer .social {
    flex-direction: row;
}
footer .social li {
    margin: 0 20px;
}
footer button {
    background-color: #9500CA;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}
/* HEADER SIGNUP ********************************************************
***********************************************************************/
.header-signup {
    background-color: #9500CA;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.header-signup h1 {
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}
.header-signup a {
    color: white;
}

.main-signup {
    background: linear-gradient(180deg, #D7FFDB 0%, #9500CA 73.96%, #D7FFDB 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FORM SIGNUP ********************************************************
***********************************************************************/
.main-signup .form-inscription {
    display: flex;
    align-items: center;
}
.form1 {
    background-color: #9500CA;
    width: 400px;
    border-radius: 20px;
    color: white;
    margin: 50px 0;
    padding: 40px;
    box-shadow: 15px 15px 15px #00000077;
    position: relative;
}
.input-container div {
    margin-top: 30px;
    margin-bottom: 5px;
}
.input-container input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px white solid;
    padding-left: 40px;
    padding-bottom: 5px;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.input-container input::placeholder {
    color: white;
}
.input-container {
    position: relative;
    margin: 20px 0;
    margin-top: 50px;
}
.input-container i {
    position: absolute;
    left: 10px;
    font-size: 15px;
}
.checkbox-form {
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-input {
    margin: 20px;
    margin-left: 0;
    background-color: #DF9DF5;
    color: black;
}
.main-signup form .login-link , .home-link , .login-link2 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 13px;
}
.home-link {
    margin-top: 20px;
    display: none;
}
.main-signup form .login-link:hover , .home-link:hover , .mdp-forget:hover, .login-link2:hover {
    text-decoration: underline;
}
.head-icon-form , .head-icon-form2 {
    position: absolute;
    background-color: #77129b;
    top: -40px;
    left: 50%;
    transform: translateX(-50%); 
    border-radius: 50%;
}
.head-icon-form2 {
    top: 50px;
}
.head-icon-form i , .head-icon-form2 i {
    font-size: 50px;
    padding: 20px;
}
.main-signup span {
    color: red;
    display: none;
}
.form-informations {
    background-color: #AD6EC3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    color: white;
    width: 400px;
    height: 100%;
    font-size: 14px;
    box-shadow: 15px 15px 15px #00000077;
}
.form-informations textarea {
    height: 60px;
    background-color: #DF9DF5;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
}
.thanks {
    text-align: center;
    display: none;
}
.question1 {
    margin-bottom: 20px;
}
.form-details {
    font-size: 12px;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 30px;
}
.mdp-forget {
    color: white;
    cursor: pointer;
}
.submit-input-login {
    margin: 20px 0;
    margin-bottom: 30px;
}
.login-link2 {
    margin-bottom: 10px;
}
.error-existing {
    color: red;
    display: none;
    text-align: center;
    margin-bottom: 20px;
}

.modal-reset-password {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #df9df5c6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
}
.modal-reset-password div {
    background-color: white;
    width: 40%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.modal-reset-password p {
    margin: 20px;
    line-height: 25px;
}
.modal-reset-password input {
    border-radius: 20px;
    height: 40px;
    padding: 0 20px;
    border: none;
    box-shadow: inset 0px 4px 4px 4px rgba(0, 0, 0, 0.207);
    margin: 20px;
    width: 70%;
    outline: none;
}
.modal-reset-password button {
    width: 50%;
    margin: 20px;
}
.modal-reset-password .reset-msg {
    position: relative;
    display: none;
}
.modal-reset-password i {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.login-error {
    text-align: center;
    margin-bottom: 20px;
}
/* DASHBOARD ********************************************************
***********************************************************************/
.header-dashboard {
    background-color: #9500CA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 70px;
}
.header-dashboard h1 {
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin-left: 20px;
}
.nav-dash {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-dash div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    font-size: 10px;
    cursor: pointer;
}
.header-dashboard img {
    width: 30px;
    margin-bottom: 5px;
}
.log-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    font-size: 10px;
}
.profile-dashboard , .calendar-profile , .tasks-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.profile {
    display: flex;
    align-items: center;
}
.profile-details {
    margin-right: 10px;
    text-align: right;
}
.profile-img {
    background: #D7FFDB;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    width: 50px;
    height: 50px;
}
.profile-img img {
    width: 100%;
    height: 100%;
}
.profile-details p {
    color: #979797;
    font-size: 13px;
    margin-top: 5px;
}

.resume-dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background: #E5E5E5;
}
.resume-container {
    display: flex;
    align-items: center;
    background: #D7FFDB;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px;
    width: 20%;
}
.resume-container .image {
    background: #FAEFD3;
    border: 1px solid #9500CA;
    border-radius: 50%;
    margin-right: 20px;
}
.resume-container .image img {
    width: 60px;
    height: 60px;
    padding: 10px;
}
.resume-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
} 
.resume-infos h4 {
    color: #9500CA;
}
.resume-infos p {
    font-size: 14px;
    margin-top: 10px;
}
.resume-infos span {
    font-weight: bold;
}

.content-dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 30px;
}
.content-dashboard .content-container {
    padding: 20px;
    background: #f3f3f3;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 20%;
    height: 350px;
    font-size: 14px;
}
.content-container h4 {
    color: #9500CA;
    text-align: center;
    width: 100%;
    border-bottom: white 5px solid;
    font-size: 15px;
    padding-bottom: 10px;
}
.planning div {
    margin: 20px 0;
}
.planning .rdv {
    font-weight: bold;
    padding-left: 10px;
    border-left: 4px solid #9500CA;
}
.planning .time {
    color: #9a9a9a;
    padding-left: 10px;
    border-left: 4px solid #9500CA;
    padding-top: 5px;
}
.taches-container div {
    margin: 20px 0;
    display: flex;
}
.taches-container div p {
    font-weight: bold;
    margin-left: 10px;
}
.taches-container .new-tache {
    color: #9a9a9a;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 3px solid #a7a7a7;
    background-color: #9500CA; 
    cursor: pointer;
    margin-right: 10px;
}
.new-tache input[type="checkbox"] {
    background-color: rgb(216, 216, 216); 
}
input[type="checkbox"]:checked {
    background-color: #939393; 
}
  
input[type="checkbox"]::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('path/to/check-icon.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    opacity: 0;
}
  
input[type="checkbox"]:checked::before {
    opacity: 1;
}
.messages-container {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 0 10px;
    height: 70px;
}
.content-messages .name {
    font-weight: bold;
    margin-bottom: 5px;
}
.content-messages .msg {
    color: #9a9a9a;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.content-messages {
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
}
.messages-container .image {
    background: #D7FFDB;
    border: 1px solid #808080;
    border-radius: 50%;
    width: 20%;
    height: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messages-container .image img {
    width: 38px;
    height: 38px;
    object-fit: cover;
}

.calendar-content {
    padding: 30px;
    background-color: #EEECEC;
}
.calendar {
    width: 100%;
    border: 1px solid #d1d1d1;
    padding: 10px;
    background-color: white;
}
.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.calendar .weekdays {
    display: flex;
    list-style: none;
    align-items: center;
    font-weight: bold;
}
.calendar .weekdays li {
    text-align: center;
    background: #DF9DF5;
    border: 1px solid #808080;
    width: 20%;
    height: 40px;
    line-height: 40px;
}
.calendar .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}
.calendar .days li {
    list-style: none;
    text-align: right;
    cursor: pointer;
    height: 60px;
    background: #EEECEC;
    padding-right: 5px;
    padding-top: 5px;
}
.calendar .days li.selected {
    background-color: #ccc;
} 
.calendar  .days li.today {
    font-weight: bold;
}
.calendar  .button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.tasks-content {
    display: flex;
    background-color: #EEECEC;
    position: relative;
}
.task-epingle {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #cecece;
    padding: 40px;
}
.all-tasks {
    width: 70%;
    padding: 40px;
}
.task-epingle .taches-container, .all-tasks .taches-container {
    width: 300px;
    background-color: white;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 350px;
    font-size: 14px;
}
.tasks-content h4 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #77129b;
}
.taches-container div {
    position: relative;
    display: flex;
    align-items: center;
}
.tasks-content .fa-trash {
    color: #bdbdbd;
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 13px;
}
.taches-container .task-title {
    position: relative;
    margin: 0;
}
.task-title img {
    position: absolute;
    left: 0;
    top: 10px;
    width: 20px;
}
.task-title .fa-trash {
    top: 10px;
}
.task-title h4 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.task-btn {
    background-color: #77129b;
    color: white;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.task-student {
    background-color: #77129b;
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 5px 10px;
}
.messages-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.messages-content {
    background-color: #EEECEC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.messages {
    background-color: white;
    width: 60%;
}
.message {
    padding: 5px 20px;
    border-bottom: 1px solid #b1b1b1;
    display: flex;
    align-items: center;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}
.message .image-message {
    border-radius: 50%;
    background-color: #D7FFDB;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #a1a1a1 1px solid;
    margin-right: 20px;
}
.image-message img {
    width: 38px;
    height: 38px;
}
.text-message .bold {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}
.non-lu {
    background-color: #EFC6FD;
}
.message span {
    color: #77129b;
    position: absolute;
    top: 25px;
    right: 20px;
    font-weight: bold;
}
.message-btn {
    background-color: #77129b;
    color: white;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
}